<div class="home-footer-bottom">
  <span class="footer-status"><span></span> Private search</span>
  <a href="https://github.com/degoog-org/degoog/releases/tag/__APP_VERSION__" target="_blank" rel="noopener">degoog <span class="home-footer-version">__APP_VERSION__</span></a>
  <a href="https://github.com/degoog-org/degoog" target="_blank" rel="noopener">{{t:index-templates.footer.repo}}</a>
  <a href="https://degoog-org.github.io/docs" target="_blank" rel="noopener">{{t:index-templates.footer.docs}}</a>
</div>
